.dashboard-page {
  background: #f5f7fa;
  min-height: 100vh;
}

.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #171717;
}

@media (max-width: 600px) {
  .dashboard-container {
    
  }

  .dashboard-header h1 {
    font-size: 20px;
  }
}